<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/Index.css">
    <link rel="stylesheet" href="../css/Calendar.css">
</head>
<body>
    <nav>
        <a  href="./"><img class='logo' src="../logo.png" alt="Study Spot"></a>
        <h1 class="title">Calendar</h1>
    </nav>
    <div id="calendar" class="container">
        <div class='day'>
            <div class='block' style="top: 120px; height: 120px;"></div>
        </div>
        <div class='day'>
            <div class='block' style="top: 180px; height: 240px;"></div>
            <div class='block' style="top: 480px; height: 120px;"></div>
        </div>
        <div class='day'>
            <div class='block' style="top: 120px; height: 120px;"></div>
        </div>
        <div class='day'>
            <div class='block' style="top: 180px; height: 240px;"></div>
            <div class='block' style="top: 480px; height: 120px;"></div>
        </div>
        <div class='day'>
            <div class='block' style="top: 120px; height: 120px;"></div>
        </div>
        <div class='day'></div>
        <div class='day'></div>
    </div>
</body>
</html>