<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/Index.css">
    <link rel="stylesheet" href="../css/Calendar.css">
</head>
<body>
    <nav>
        <a  href="../"><img class='logo' src="../logo.png" alt="Study Spot"></a>
        <h1 class="title">Calendar</h1>
    </nav>
    <div id="calendar" class="container">
        <script>
            let url = 'http://localhost:5001/course_meetings/' + localStorage.getItem('curr_building_room_id')

            fetch(url).then(response => response.json()).then(data => {
                console.log(data)
                data.forEach(course_meeting => {
                    console.log(course_meeting.days[0]);

                    let days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];
                    let cal = document.getElementById('calendar');
                    //if(typeof course_meeting.days[0] === 'string') course_meeting.days[0].toLowerCase() = days.indexOf(course_meeting.days[0].toLowerCase());
                    
                    let p = cal.children[days.indexOf(course_meeting.days[0])];
                    let elem = document.createElement('div');
                    elem.className = 'block';

                    //18 1 hour blocks, divide by 60 pixels for each hour

                    elem.style.top = Math.round((parseInt(course_meeting.start_time.substring(0,2)) - 6) * 60) + 'px';
                    elem.style.height = ((parseInt(course_meeting.end_time.substring(0, 2)) - parseInt(course_meeting.start_time.substring(0,2))) * 60).toString + 'px';
                    elem.style.background = 'red';

                    p.appendChild(elem);
                })
                console.log(data);
            })
            .catch(err => console.error(err))
            

        </script>

        <div class='day'>
            <div class='block' style="top: 120px; height: 120px;"></div>
        </div>
        <div class='day'>
            <div class='block' style="top: 180px; height: 240px;"></div>
            <div class='block' style="top: 480px; height: 120px;"></div>
        </div>
        <div class='day'>
            <div class='block' style="top: 120px; height: 120px;"></div>
        </div>
        <div class='day'>
            <div class='block' style="top: 180px; height: 240px;"></div>
            <div class='block' style="top: 480px; height: 120px;"></div>
        </div>
        <div class='day'>
            <div class='block' style="top: 120px; height: 120px;"></div>
        </div>
        <div class='day'></div>
        <div class='day'></div>
    </div>
</body>
</html>