#buildings {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
.building {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    aspect-ratio: 3;
    background: white;
    margin: 3% 2%;
    position: relative;
    border-radius: 10px;
    font-size: 1.2vw;
    box-shadow: 0 5px #69A197, 0 0 0 #ccc;
    transform: translateY(0);
    transition: all .3s ease;
    border: 1px solid #69A197;
}
.building:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px #69A197, 0 15px 15px #ccc;
}
.building:active{
    box-shadow: 0 5px #69A197, 0 0 0 #ccc;
    transform: translateY(0);
}